PORT="8000"
NODE_ENV="development"
APP_NAME="Try Ecommerce"
BACKEND_URL="http://localhost:8000"
CORS_ORIGINS="http://localhost:3000,http://localhost:3005"
API_KEY="f0e[mqzEJ?MBSR:|)d33ddde8kGOsjc2||@bM:qr[ptM5b2933f"
APP_SECRET="gN@84WFYR)}i9Ljus})WZ*d33ddde8kGOsjc2||@bM:qr[ptM5b2933f"
# POSTGRES_URI="postgres://postgres:123456@localhost:5432/pickezee"